@tailwind base;
@tailwind components;
@tailwind utilities;

.object-cover {
    object-fit: cover;
}
.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
 